#SchahlLED Control Center Credentials
USERNAME = "Your_user_name"
PASSWORD = "Your_password"

# Max threads
MAX_THREADS = 1

# InfluxDB Configuration
INFLUXDB_URL = "Your_influx_url"
INFLUXDB_TOKEN = "Your_influx_token"
INFLUXDB_ORG = "ORG_name"
INFLUXDB_BUCKET = "Bucket_name"

# SchahlLED endpoint configuration
BASE_URL = "https://www.schahlled-control-center.de"
LOGIN_ENDPOINT = "/en/api/v1/login_check"
ENERGY_DATA_ENDPOINT = "/en/api/v1/gateway/"

# Define your Gateway IDs as a JSON object
# Example: GATEWAY_IDS={"id1": "gateway1", "id2": "gateway2"}
GATEWAY_IDS={"Your_Gateways_as_json"}

# Define your Site ID. Lookup for URL in webrowser. Usually a 4 digit number
SITE_ID = "Your_site_id"

# Define start date configuration
# If true, the script will start from the first of the current month
# If false, it will use the specified ENV_START_DATE
ENV_START_DATE_FIRST_OF_MONTH = true
ENV_START_DATE = "2024-08-01"

# Logging Configuration
LOG_LEVEL = "INFO"  # Options: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_FILE = "scraper.log"


# Modules

# If true, data for gateways and groups will be fetched
# If false, only gateway data will be fetched
FETCH_ENERGY_GROUP_DATA = true




